<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freecoders.photobook"
    android:versionCode="13"
    android:versionName="0.2.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.example.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.example.gcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name="com.freecoders.photobook.common.Photobook"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.freecoders.photobook.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freecoders.photobook.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
      <activity
            android:name="com.freecoders.photobook.UserProfileActivity"
            android:label="@string/user_profile"
            android:theme="@style/AppThemeNoActionBar"
            android:configChanges="orientation|screenSize">
      </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ImageDetailsActivity"
            android:label="@string/title_activity_image_details"
            android:launchMode="singleInstance"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppThemeNoActionBar">
        </activity>
        <receiver
            android:name="com.freecoders.photobook.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.freecoders.photobook" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
